/* ANIMATIONS */

@keyframes scaleIn {
    from {
        transform:scale(0.9); 
    }
    to {
        transform: scale(1);
    }
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .mobile_center {
        text-align: center;
    }
}

/* BEHAVIOURS */

html {
    scroll-behavior: smooth;
}

/* RULES */

body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    animation: fadeIn 1s ease-out forwards;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -2;
}

/* overlay for when the video hasn't loaded */
.black-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    z-index: 1;
}

/* regular overlay to ensure white text visible over video */
.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    pointer-events: none;
    z-index: -1;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    padding: 50px;
    min-height: 350px;
    animation: scaleIn 1s ease-out forwards;
}

.content .centered {
    text-align: center;
    max-width: 500px;
}

.title {
    font-size: 4em; 
    font-weight: bold; 
    color: #ffffff; 
}

p {
    font-size: 1.5em; 
    color: #ffffff; 
    margin: 10px 0 35px 0;
}

.btn {
    padding: 10px 20px; 
    background-color: #FFCC70;
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
    display: inline-block;
}

.btn a {
    font-size: 1.5em; 
    text-decoration: none;
    color: #000000;
}

.btn:hover {
    background-color: #8ECDDD;
    transform: scale(1.05); 
    cursor: pointer;
}

.appbar {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: transparent; /* start with a transparent background */
    transition: background-color 0.5s ease; /* transition to a solid background */
    color: white;
    padding: 15px 50px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.menu-icon {
    cursor: pointer;
    display: block;
}

.menu-icon:hover {
    opacity: 0.7;
    transition: 0.3s;
    transform: scale(1.05);
}

.menu-icon .bar {
    width: 30px;
    height: 4px;
    margin: 5px auto;
    background-color: white;
}

.drawer {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #161616;
    z-index: 900;
    padding-top: 60px;
    transition: 0.3s;
}

.drawer a {
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.drawer .header {
    margin: 0;
    color: #FFCC70;
    /* poppins, bold */
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.drawer a:hover {
    background-color: #575757;
}

.logo {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    max-height: 40px; 
}

.section_2 {
    margin: max(100vh, 350px) 50px 50px 50px;
}

.headshot_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    box-sizing: border-box;
}

.headshot_tile {
    position: relative;
    transition: 0.3s;
    border-radius: 5px;
    overflow: hidden;
}

.headshot_tile::before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.headshot_tile img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.headshot_overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
    opacity: 0; /* hide it initially */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000009f;
}

.text {
    color: white;
    font-size: 20px;
    display: -webkit-box;
    text-align: center;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* number of lines to show atop the overlay */
    text-overflow: ellipsis;
    max-width: 90%; /* max size basically */
}

.subtitle {
    text-align: center;
    font-size: 16px;
    /* font white and bold */
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    font-weight: 700;
}

.headshot_tile:hover .headshot_overlay {
    opacity: 1;
}

.headshot_column {
    text-align: center;
    padding-top: 25px; 
    display: block;
    display: flex; /* flex column centered vertically */
    flex-direction: column;
}

.sec_2_title {
    padding-top: 20vh;
}