@keyframes scaleIn {
    from {
        transform:scale(0.9); 
    }
    to {
        transform: scale(1);
    }
}

body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    animation: fadeIn 1s ease-out forwards;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -2;
}

/* overlay for when the video hasn't loaded */
.black-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    z-index: 1;
}

/* regular overlay to ensure white text visible over video */
.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    pointer-events: none;
    z-index: -1;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    padding: 50px;
    min-height: 350px;
    animation: scaleIn 1s ease-out forwards;
}

.content .centered {
    text-align: center;
    max-width: 500px;
}

.title {
    font-size: 4em; 
    font-weight: bold; 
    color: #ffffff; 
}

p {
    font-size: 1.5em; 
    color: #ffffff; 
    margin: 10px 0 35px 0;
}

.btn {
    padding: 10px 20px; 
    background-color: #FFCC70;
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
    display: inline-block;
}

.btn a {
    font-size: 1.5em; 
    text-decoration: none;
    color: #000000;
}

.btn:hover {
    background-color: #8ECDDD;
    transform: scale(1.05); 
    cursor: pointer;
}

.appbar {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 15px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.menu-icon {
    cursor: pointer;
    display: block;
}

.menu-icon:hover {
    opacity: 0.7;
    transition: 0.3s;
    transform: scale(1.05);
}

.menu-icon .bar {
    width: 30px;
    height: 4px;
    margin: 5px auto;
    background-color: white;
}

.drawer {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #161616;
    z-index: 900;
    padding-top: 60px;
    transition: 0.3s;
}

.drawer a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.drawer .header {
    padding: 0px 15px 0 15px;
    margin-bottom: 10px;
    color: #FFCC70;
    /* poppins, bold */
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.drawer a:hover {
    background-color: #575757;
}

.logo {
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    max-height: 40px; 
}
